AITTA_API_ROOT=https://api-staging-aitta.2.rahtiapp.fi
AITTA_MODEL_ALIAS=poro_70b_instruct
AITTA_MODEL_NAME=LumiOpen/Llama-Poro-2-70B-Instruct
AITTA_API_KEY=replace_me
AITTA_USE_DISCOVERY=true
AITTA_BASE_URL=
AITTA_REQUEST_TIMEOUT=120
